@media only screen and (min-width: 1200px){
	#first {
		@include flex-change(row, space-between, basaline);
		height: 80px;
		background-image: url("../images/top_bg.png");
		background-size: cover;
		background-position: center;
		#download {
			@include flex(row, baseline, center);
			.button {
				line-height: 30px;
				height: 30px;
				width: 200px;
			}
			.email {
				height: 30px;
				width: 250px;
				margin-right: 30px;
				margin-bottom: 0px;
			}
		}
		#titles {
			align-self: center;
			text-align: left;
			h1, h2 {
				margin: 0px;
			}
			h2{
				font-weight: bold;
			}
		}
	}

	#second {
		justify-content: center;
		min-height: 400px;
		background-image: url("../images/hero_h.jpg");
		background-size: cover;
		background-position: center;
		#logo {
			width: 120px;
			p {
				font-size: 1em;
				left: 3px;
			}
		}
		h1{
			font-size: 3.5em;
		}
		h2 {
			font-size: 3em;
			margin-top: 5%;
			margin-bottom: 0px;
		}
		.button {
			width: 200px;
		}
	}

	#third {
		height: 820px;
		justify-content: space-between;
		padding-bottom: 0px;
		header {
			h1 {
				font-size: 2.6em;
			}
			p {
				font-size: 1.5em;
				padding-right: 10%;
				padding-left: 10%;
			}
		}
		#content {
			@include flex(row, center, flex-end);
			margin-bottom: 0px;
			overflow: hidden;
			article {
				@include flex-change(column, space-between, center);
				margin-bottom: -150px;
				height: 100%;
				&:nth-child(even) {
					flex-direction: column;
					margin-bottom: -100px;
				}
				& + article {
					margin-left: 20px;
				}
				.ico {
					order: 1;
					width: 80px;
					margin-bottom: 20px;
				}
				.article-text {
					order: 2;
					text-align: center;
					width: 200px;
					margin-bottom: 30px;
				}
				.mob {
					order: 3;
					width: 250px;
				}
			}
		}
	}

	#fourth, #fifth {
		padding-right: 25%;
		padding-left: 25%;
	}

	#fifth {
		.button {
			display: inline-block;
			width: 200px;
			margin-left: 10px;
			margin-right:10px;
		}
	}

}